.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/1542977.jpg");
  }
  
  h1 {
    font-size: 25px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }